body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
  margin: 0;
}
h1 {
  font-size: 3rem;
  color: #666;
  text-align: center;
}
p {
  font-size: 1.5rem;
  color: #666;
  text-align: center;
}